.navbar {   
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 70px;
    background-color: $secondary-color;
    border-right: 4px solid $text-color;

        &:hover .link-text {
            color: $primary-color;
        }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    width: 100%;
    &:first-child {
        margin: 16px 0;
    }
}

.link-text {
    color: transparent;
    font-weight: bold;
    font-family: $headline-font;
    margin-left: 8px;
    font-size: $font-16;
    transition: color 200ms ease-out; 
  }
  
.nav-link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    color: $primary-color;
    text-decoration: none;
  }
  
.nav-link svg {
    width: 32px;
    min-width: 32px;
    margin: 0 24px;
  }


@media (min-width:530px ) and (max-width: 720px) {
    .nav-link {
        max-width: 120px;

    }
    .nav-link svg {
        margin: 0 12px;
    }
}

@media (min-width:320px) and (max-width: 529px) {
    .nav-link {
        max-width: 100px;
        display: flex;
        justify-content: center;
    }
    .nav-link svg {
        margin: 0;
    }
    .link-text {
        display: none;
    }
}